<div [@fadeInOut] class="container mt-4">
    <h1>Mis Turnos</h1>           
    <div *ngIf="turnos && turnos.length > 0; else noTurnos">            
        <table class="table table-striped">
            <thead>
              <!-- Agrega este input en la sección de encabezados de la tabla -->
              <th style="font-size: 30px;" scope="col">Buscar</th>
              <th scope="col">
                <input style="width: 300px;" type="text" [(ngModel)]="termineBusqueda" class="form-control" placeholder="Ingrese término de búsqueda">
              </th>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Horario</th>
                <th scope="col">Especialista</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Acciones</th>
                <th scope="col">Estado</th>
                <th scope="col">Historia médica</th>
                <!-- Agrega más encabezados según las propiedades de tus turnos -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turno of turnos | filtroTurnos: termineBusqueda">
                <td>{{ turno.dia }}</td>
                <td>{{ turno.horario }}</td>
                <td>{{ turno.especialista?.nombre }} {{ turno.especialista?.apellido }}</td>
                <td>{{ turno.especialidad }}</td>
                <td>
                  <button *ngIf="turno.estado !== 'realizado' && turno.estado !== 'rechazado' && turno.estado !== 'cancelado'" class="btn btn-danger" (click)="cancelarTurno(turno)">Cancelar</button>
                  <button *ngIf="turno.resenia" class="btn btn-primary" (click)="verResenia(turno)">Ver reseña</button>
                  <button *ngIf="turno.estado == 'realizado' && turno.resenia && !turno.encuesta" class="btn btn-warning" (click)="completarEncuesta(turno)">Completar encuesta</button>
                  <button *ngIf="turno.estado == 'realizado' && turno.resenia && !turno.atencion" class="btn btn-success" (click)="calificarAtencion(turno)">Calificar atención</button>
                </td>
                <td>
                    {{ turno.estado === 'cancelado' || turno.estado === 'rechazado' ? turno.estado + ' - (' + turno.motivo + ')' : turno.estado }}
                </td>
                <td *ngIf="turno.historiaClinicaData">
                  {{ formatJSON(turno.historiaClinicaData) }}
                </td>
                <td *ngIf="!turno.historiaClinicaData">
                  No cargada
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noTurnos>
      <p>No tienes turnos registrados.</p>
    </ng-template>   

  </div>
