<div [@fadeInOut] class="contenedor">     
    <div class="columna">
        <app-especialidades [especialidades]="especialidades" [mostrarBotonAgregar]="mostrarBoton" (especialidadSeleccionada)="manejarEspecialidadSeleccionada($event)"></app-especialidades>
    </div>  
    <div class="columna" *ngIf="especialidadSeleccionada">
        <h2 class="mt-3">Especialidad seleccionada</h2>   
        <p  class="form-control" style="color: black; width: 400px">{{ especialidadSeleccionada }}</p>
    </div> 
    <div class="columna">
        <app-listado-especialistas *ngIf="especialidadSeleccionada" [especialistas]="especialistas" (especialistaSeleccionado)="manejarEspecialistaSeleccionado($event)"></app-listado-especialistas>
    </div>
    <div class="columna" *ngIf="especialistaSeleccionado">
        <h2 class="mt-3">Especialista seleccionado</h2>   
        <p  class="form-control" style="color: black; width: 400px">{{ especialistaSeleccionado.nombre }} {{ especialistaSeleccionado.apellido }}</p>
    </div>
    <div class="columna" *ngIf="especialistaSeleccionado">
        <h2>Próximos 15 días</h2>
        <div class="row">
            <div class="botones-container">
                <ng-container *ngFor="let fecha of fechasProximos15Dias">
                    <button [class.selected]="formatoFecha(fecha) === diaSeleccionado" (click)="generarHorarios2(fecha)" type="button" class="fecha-button">{{ fecha | date: 'dd/MM/yyyy' }}</button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="columna" *ngIf="diaSeleccionado">
        <h2>Seleccionar Horario</h2>
        <div *ngIf="!mensajeSabados; else mensajeSabadosBlock" class="radio-buttons-container">
          <div *ngFor="let hora of horarios" class="radio-item">
            <div class="radio-content">
              <input type="radio" [value]="hora" name="horario" id="{{ hora }}" (change)="seleccionarHorario(hora)">
              <label style="font-size: 18px;" for="{{ hora }}">{{ hora }}</label>
            </div>
          </div>
        </div>
        <ng-template #mensajeSabadosBlock>
            <div class="mensaje-sabados">
              <p>{{mensajeSabados}}</p>
            </div>
        </ng-template>
    </div>
    <div class="columna" *ngIf="admin && horarioSeleccionado">        
        <app-listado-pacientes [pacientes] = "pacientes" (pacienteSeleccionado)="manejarPacienteSeleccionado($event)"></app-listado-pacientes>
    </div>
    <div class="columna" *ngIf="pacienteSeleccionado">
        <h2 class="mt-3">Paciente seleccionado</h2>   
        <p  class="form-control" style="color: black; width: 400px">{{ pacienteSeleccionado.nombre }} {{ pacienteSeleccionado.apellido }}</p>
    </div>
    <div class="columna" *ngIf="!admin && horarioSeleccionado">
        <button class="fecha-button" (click)="solicitarTurno()">Solicitar turno</button>
    </div>
    <div class="columna" *ngIf="admin && pacienteSeleccionado">
        <button class="fecha-button" (click)="solicitarTurno(pacienteSeleccionado.id)">Solicitar turno</button>
    </div>
</div>