<!-- bienvenida.component.html -->

<div class="welcome-container">
    <h1>Bienvenido a la clínica Dr. Nani</h1>
    <div class="button-container">
      <button routerLink="/login" class="login-button">
        <img src="../../../assets/login.jpg" alt="Iniciar Sesión">
        <p>Iniciar sesión</p>
      </button>
      <button routerLink="/registro" class="register-button">
        <img src="../../../assets/registro.jpg" alt="Registrarse">
        <p>Registrarse</p>
      </button>
    </div>
  </div>
  