<h2 class="mt-3">Especialistas disponibles</h2>
<div class="list-group">
  <ng-container *ngIf="especialistas && especialistas.length > 0; else noEspecialistas">
    <button *ngFor="let especialista of especialistas" class="list-group-item list-group-item-action" (click)="seleccionarEspecialidad(especialista)">
      <img style="width: 50px; height: 50px;" [src]="especialista.foto1" alt="">
      {{ especialista.nombre }} {{ especialista.apellido }}
    </button>
  </ng-container>
  <ng-template #noEspecialistas>
    <p>No hay especialistas disponibles para esa especialidad</p>
  </ng-template>
</div>
