.botones{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
button{
    background-color: rgb(74, 222, 173);
    border: black;
    color: black;
}
button:hover{
    background-color: rgb(26, 186, 133);
}
button:focus{
    background-color: rgb(26, 186, 133);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

  .buttons-container {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ajusta si hay otros elementos con posicionamiento z-index */
    
  }

    .button{
        border-radius: 50%;
        width: 65px;
        height: 65px;
        padding: 0;
    }

  .buttons-container button {
    margin-bottom: 10px; /* Espacio entre botones */
    background-color: rgb(74, 222, 173);
    border: black;
    color: black;    
  }

  .img{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
  }